@import "https://fonts.googleapis.com/css?family=Noto+Sans";

body{
    overflow: hidden;
    scroll-behavior: smooth;
}
main{
    height: 100vh;
    width: 100vw;
}
#main{
    height: 100%;
    display: flex;
    flex-direction: column;
}
nav{
    transform: translate(0,0);
}
nav+div{
    flex: 1;
}
#main>.section{
    padding-right: 20px;
    padding-left: 20px;
    overflow: auto;
}
#main .button_section{
    display: flex;
    justify-content: center;
    text-align: center;
    position: relative;
}

.nav-header{
    z-index: 9;
}

nav .brand-logo, nav ul {
    display: flex!important;
    padding-left: 20px!important;
    padding-right: 20px!important;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.logo{
    font-style: italic;
    color: black;
    font-weight: bold;
}
.logo-letter:nth-child(1){
    /*color: #66bb6a;*/
    color: #69f0ae;
}
.logo-letter:nth-child(6){
    /*color: #448aff;*/
    color: #bbdefb;
}
.logo-letter:nth-child(11){
    color: #fbc02d;
}
.postfix{
    position: absolute;
    top: calc(0.5rem - 5px);
    right: 0;
    cursor: pointer;
    z-index: 1;
    padding: 10px;
    border-radius: 50%;
    font-size: 1.25rem;
}
.button-container{
    text-align: center;
    display: flex;
    justify-content: center;
}
.button-container>button{
    position: absolute;
    width: max-content;
}

.button-container>button:nth-child(3){
    top: calc(50px + 100%);
    margin-bottom: 25px;
}

section.section{
    position: relative;
    text-align: center;
    padding: 10px;
}
.section{
    display: flex;
}
.game-container{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
}

#pacman {
    height: 100%;
    width: 50%;
    max-width: 450px;
    display: flex;
    border-radius: 5px;
}

#back{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
    background-color: #0091ea!important;
}