.overlay{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: all 0.25s ease-in-out;
}
.overlay.active{
    opacity: 1;
    visibility: visible;
}
.side-menu{
    width: 25%;
    z-index: 999;
    height: 100%;
    position: fixed;
    right: -25%;
    top: 2px;
    background: #e1f5fe;
    transition: all 0.5s ease-in-out;
}
.side-menu.active{
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.75);
    right: 0;
}
.hamburger{
    z-index: 999;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 5px;
    border-radius: 50%;
    position: absolute;
    height: 50px;
    width: 50px;
    top: 0;
    left: -60px;
}
.active .hamburger{
    background: rgba(179,229,252,0.8);
}
.hamburger svg{
    transition: all 0.25s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}
.hamburger:hover svg{
    transform: scale(1.2) rotate(180deg);
}

.ham{
    transform:rotate(180deg);
}
.line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
}
.ham2 .top {
    stroke-dasharray: 40 121;
}
.ham2 .bottom {
    stroke-dasharray: 40 121;
}
.active .ham2 .top {
    stroke-dashoffset: -102px;
}
.active .ham2 .bottom {
    stroke-dashoffset: -102px;
}
.ham3 .top {
    stroke-dasharray: 40 130;
}
.ham3 .middle {
    stroke-dasharray: 40 140;
}
.ham3 .bottom {
    stroke-dasharray: 40 205;
}
.active .ham3 .top {
    stroke-dasharray: 75 130;
    stroke-dashoffset: -63px;
}
.active .ham3 .middle {
    stroke-dashoffset: -102px;
}
.active .ham3 .bottom {
    stroke-dasharray: 110 205;
    stroke-dashoffset: -86px;
}
.custom_container{
    padding: 0 20px;
}
.side-menu-items{
    position: absolute;
    width: 100%;
    height: 100%;
}
.side-menu-div{

}
.side-menu-div ul{
    margin: 0;
}
.side-menu-div ul li{
}
.side-menu-div ul li a{
    color: #424242;
    display: flex;
    font-size: 22px;
    padding: 10px 15px;
    align-items: center;
    transition: all 0.2s;
}
.side-menu-div ul li a:hover{
    background: #b3e5fc;
    border-left: 5px solid #424242;
    color: #212121;
}
.side-menu-div ul li.active a{
    border-left: 5px solid #424242;
    background: #b3e5fc;
    color: #212121;
}